<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="section-encabezado">
      <div>
        <div class="div-encabezado">Div Encabezado</div>
        <div class="div-logo">Div Logo</div>
      </div>

      <div>
        <div class="div-menu-1">div Menu 1</div>
        <div class="div-menu-2">div Menu 2</div>
      </div>
    </section>
  </body>
</html>
