:root{
    --size:144px;
    --separation:calc(var(--size) + 20px);
}

.box{
    position: relative;
    background-color: greenyellow;
    margin: var(--size) auto;
}

.box, .box::before, .box::after{
    width: var(--size);
    height: var(--size);
    display: block;
    border-radius: 50%;
}

.box::before, .box::after{
    content: "";
    position: absolute;
}

.box::before{
    left: var(--separation);
    background-color: red;
}

.box::after{
    right: var(--separation);
    background-color:blue;
}