.flex-parent {
  display: flex;
  height: 50vh;
  margin: 0 auto;
  width: 90%;
}

.flex-parent .flex-child,
.flex-parent .flex-child-2 {
  flex-basis: 15%;
  text-align: center;
  font-size: 30px;
  width: 100px;
}

.flex-child {
  height: 100px;
  background-color: brown;
  border: 3px solid black;
  color: white;
}

.flex-child-2 {
  height: 150px;
  background-color: violet;
}

.order-2 {
  order: 2;
}

.align-self {
  align-self: flex-end;
}
