<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <section class="section-encabezado">
      <div>
        <div class="div-encabezado"><p>Div Encabezado</p></div>
        <div class="div-logo"><p>Div Logo</p></div>
      </div>

      <div>
        <div class="div-menu-1"><p>div Menu 1</p></div>
        <div class="div-menu-2"><p>div Menu 2</p></div>
      </div>
    </section>

    <section class="section-3divs">
      <div><p>Div izquierda</p></div>
      <div><p>Div centro</p></div>
      <div><p>Div derecha</p></div>
    </section>

    <section class="section-2divs">
      <div><p>Div izquierda 2</p></div>
      <div><p>Div derecha 2</p></div>
    </section>

    <section class="section-footer">
      <div class="div-pie">
        <p>div pie</p>
      </div>
      <div class="div-elemento"><p>div elemento</p></div>
    </section>

    <div class="div-ejemplo-1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas
        asperiores sit. Mollitia praesentium, iste tempore odio cupiditate
        eveniet placeat, itaque voluptas magni impedit eligendi doloribus
        repellat iusto veniam aut?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas
        asperiores sit. Mollitia praesentium, iste tempore odio cupiditate
        eveniet placeat, itaque voluptas magni impedit eligendi doloribus
        repellat iusto veniam aut?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas
        asperiores sit. Mollitia praesentium, iste tempore odio cupiditate
        eveniet placeat, itaque voluptas magni impedit eligendi doloribus
        repellat iusto veniam aut?
      </p>
      <article>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas
            asperiores sit. Mollitia praesentium, iste tempore odio cupiditate
            eveniet placeat, itaque voluptas magni impedit eligendi doloribus
            repellat iusto veniam aut?
          </p>
        </div>
      </article>
    </div>
    <div class="parrafo-enlace">
      <a href="http://www.google.com">Soy un enlace 1</a>
      <p>Soy parrafo</p>
      <a href="http://www.google.com">Soy un enlace 2</a>
      <a class="link-3" href="http://www.google.com">Soy un enlace 3</a>
    </div>

    <ul>
      <li>Uno</li>
      <li>Dos</li>
      <li>Tres</li>
      <li>Cuatro</li>
    </ul>

    <div class="active">
      <label>Input Activado</label>
      <input type="text" />
      <button>Press me</button>
    </div>

    <div class="disabled">
      <label>Input desactivado<label>
      <input disabled type="text" />
      <button disabled >Cant press me</button>
    </div>

  </body>
</html>
